.list-styling {
    margin-bottom: 10px;
    margin-left: 95px;
    max-width: 595px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Top part of form---- */

.add-container {
    width: 100%;
}

.input-container {
    margin: 50px 0px 50px 0px;
    width: 100%;
    display: flex;
    gap: 5px;
}

.input-container label {
    font-size: 1.5rem;
    width: 80%;
}

.input-container button {
    width: 20%;
    &:hover {
        scale: 1.02;
    }
}

.todo-input {
    height: 50px;
}

.empty-list {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(81, 102, 74);
}

/* ----Error Message---- */

.error-position {
    top: 20px;
}

/* ----To do list---- */

.list-item-container {
    width: 100%;
}

.todo-list {
    padding: 0px;
    list-style: none;
}

.todo-list li, .empty-list {
    margin: 5px 0px;
    padding: 10px;
    height: 50px;
    font-weight: bold;
    border: 2px outset white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list li:nth-child(even){
    background-color: rgb(243, 234, 248, 0.9);
}

.todo-list li:nth-child(odd){
    background-color:  rgba(246, 236, 238, 0.9);
}

.todo-list label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-list input {
    width: 30px;
    cursor: pointer;
}

.todo-list li:has(input:checked) {
    text-decoration: line-through;
    background-color:  rgba(207, 200, 202, 0.9);
}

.delete-button {
    background: no-repeat center/cover url(/src/assets/bin.png);
    width: 32px;
    height: 32px;
    border: none;
    font-size: 0;
    cursor: pointer;
    &:hover {
        scale: 1.2;
    }
}