.name-form {
    width: 100%;
    max-width: 595px;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.name-container {
    max-width: 595px;
    width: 100%;
    gap: 50px;
}

@media (max-width: 767px){
    .name-container {
        width: 70%;
    }

    .name-container input, .name-container button {
        height: 50px;
    }
}