/* ----Aside Navbar---- */

aside {
    padding: 50px 20px;
    width: 90px;
    min-height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    display: flex;
    gap: 50px;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(185, 155, 235, 0.9) , rgb(233, 208, 214, 0.9));
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    overflow:hidden;
    transition:width .3s ease;
    &:hover {
      width:280px;
    }
}

.logo {
    align-self: center;
    width: 65px;
    height: 30px;
}
  
aside img{
    width: 50px;
    height: 50px;
}
  
aside ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    list-style: none;
}
  
aside ul li .link {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    &:hover {
      filter: invert(100%);
    }
}

/* ----Change theme section---- */
  
.bg-container {
    margin-top: 60px;
}

.bg-icon-btn {
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 60px;
    background: none;
    border: none;
    font-size: 1.5rem;
    &:hover {
        filter: invert(100%);
        cursor:pointer;
      }
}

.bg-btn {
    margin-top: 20px;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    border: 2px outset rgb(163, 133, 138);
    background-position:center;
    &:hover {
        border: 3px solid rgb(249, 247, 247);
        cursor:pointer;
    }
}

/* ----Pages shared styling---- */

h1 {
    text-align: center;
    margin: 100px 0px 0px 90px;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    text-shadow:4px 7px 10px rgba(0,0,0,.4),
    4px 7px 10px rgba(0,0,0,.4), 4px 7px 10px rgba(0,0,0,.4);
}

h2 {
    text-transform: capitalize;
    text-align: center;
    color: black;
    /* color: rgb(81, 102, 74); */
}

.container {
    margin-top: 50px;
    margin-left: 90px;
    padding: 40px 20px;
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    background-color: rgba(255, 255, 255, 60%);
    box-shadow:4px 7px 10px rgba(0,0,0,.6);
    border-radius: 5px;
    border: 2px outset rgb(255, 255, 255);
}

input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    border:2px inset white;
    border-radius: 5px;
}

.style-btn {
    padding: 0px 10px;
    width: 100%;
    min-height: 40px;
    font-size: 1rem;
    text-align: center;
    border:2px outset white;
    border-radius: 5px;
    box-shadow:1px 3px 5px rgba(0,0,0,.6);
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgb(233, 208, 214, 0.9));
    &:hover {
        border:3px outset white;
        color: rgb(109, 148, 96);
    }
}

.date {
    margin: 0px 0px 0px 90px;
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.5em;
    text-align: end;
    font-weight: bold;
    color: white;
    text-shadow:4px 7px 10px rgba(0,0,0,.4),
    4px 7px 10px rgba(0,0,0,.4), 4px 7px 10px rgba(0,0,0,.4);
}

.error {
    height: 0;
    text-align: center;
    color: rgb(171, 4, 4);
    position: relative;
    top: -30px;
}

