@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background: no-repeat center/cover url(/src/assets/bg.jpg);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
