@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}
:root {
    background: no-repeat center/cover url(/src/assets/bg.jpg);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: black;
    display: flex;
}  

body {
    margin: 0 auto;
    display: flex;
    place-items: center;
    min-height: 100vh;
}
